@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');

body {
    font-family: 'Lato', sans-serif;
    font-size: 170%;
    text-align: justify;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.bg-1 {
    background-color: #577F86; /* Blue */
    color: #fff;
}
.bg-2 {
    background-color: #ffffff; /* White */
    color: #555555;
}
.bg-3 {
    background-color: #78987b; /* Green */
    color: #EEE;
}
.bg-4 {
    background-color: #E08C49; /* Orange */
    color: #EEE;
}

#contact_info {
    font-size: 100%;
}

#contact_info a {
    color: #555555;
}

#contact_info a:hover {
    color: #337ab7;
}
