@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i,800|Roboto|Montserrat');

h1 {
	margin-bottom: 20px;
	margin-left: 10px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

body {
	font-family: 'Lato', sans-serif;
}


.accordion {
    background-color: #78987b;
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    color: #777;
    float: right;
    margin-left: 10px;
}

.accordion.active, .accordion:hover {
    background-color: #3f5441;
    color: #EEE;
}

.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.title {
	width: 96%;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 0;
}

.explanationText{
	margin: 5px 0 5px 5px;
}

.answer {
	font-weight: 800;
	margin-bottom: 5px;
	font-size: 150%;
}

.procedure {
	font-size: 95%;
	font-weight: bold;
	margin-left: 20px;
}

.rules {
    padding: 0px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.rules p {
	margin: 15px 0 15px 0;
}

.explanation {
    margin: 10px 0;
}